.name-class {
  text-align: center;
  margin-bottom: 0px;
  color: blue;
}

body{
  font-family: Serif;
  color: black;
}

address{
  text-align: center;
  color: black;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 90px;
  border: solid 1px;
  position: relative;
  top: -25px;
  left: 539px;
}

body{
  margin:5% auto;
  width: 80%;
}

div{
  width: 1050px;
  height: 80px;
  margin-bottom: 10px;
  background-color: #add8e6;
}

.table-data{
  text-align: right;
}

.font-class{
  font-family: 'Galada', cursive;
  text-align: center;
}

a:link{
  color:darkred;
  text-decoration: none;
}

a:hover{
color:green;
text-decoration: underline;
}

img{
  margin: 0 0 15px 0;
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
