/* ========= Add Here the styles that will be used by all viewports and for smaller viewports */
html{
  /* I'm adding this class to prevent the containers to change size when they have padding. */
  box-sizing: border-box;
}
/* This makes all the pseudo-elements created by the browser inherit the box-sizing of the html */
*, *:before, *:after {
  box-sizing: inherit;
}
/* In case you want to have a full width image or content. The body by default has margin and padding */
body {
  padding: 0;
  margin: 0;
}

.main-wrapper{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 70px repeat(5, minmax(150px, auto));

}

.main-nav{

}

.social{

}

.social-item{

}

.main-content{

}

.gallery{

}

.gallery-item{

}

.second-nav{

}

/*=====================================================================================*/
/* Add Here styles for larger phones and tablets */
@media only screen and (min-width: 480px) {
  .main-wrapper{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
/*=====================================================================================*/
/* Add Here styles for regular laptops and desktops */
@media only screen and (min-width: 992px) {
  .main-wrapper{
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
/*=====================================================================================*/
/* Add Here styles for xLarge monitors */
@media only screen and (min-width: 1280px) {
  .main-wrapper{

  }
}
